<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PuiPuiCapaDeInterfazFrontOffice.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

    <applicationSettings>
        <PuiPuiCapaDeInterfazFrontOffice.Properties.Settings>
            <setting name="PuiPuiCapaDeInterfazFrontOffice_LogicaClases_FachadaClases"
                serializeAs="String">
                <value>http://localhost:24057/Servicios/FrontOffice/FachadaClasesFrontOffice.asmx</value>
            </setting>
            <setting name="PuiPuiCapaDeInterfazFrontOffice_LogicaEjercicios_FachadaEjercicios"
                serializeAs="String">
                <value>http://localhost:24057/Servicios/FrontOffice/FachadaEjerciciosFrontOffice.asmx</value>
            </setting>
            <setting name="PuiPuiCapaDeInterfazFrontOffice_LogicaInstructores_FachadaInstructores"
                serializeAs="String">
                <value>http://localhost:24057/Servicios/FrontOffice/FachadaInstructoresFrontOffice.asmx</value>
            </setting>
            <setting name="PuiPuiCapaDeInterfazFrontOffice_LogicaRutinasEjercicios_FachadaRutinasEjercicios"
                serializeAs="String">
                <value>http://localhost:24057/Servicios/FrontOffice/FachadaRutinasEjerciciosFrontOffice.asmx</value>
            </setting>
            <setting name="PuiPuiCapaDeInterfazFrontOffice_LogicaUsuariosLogin_FachadaClientes"
                serializeAs="String">
                <value>http://localhost:24057/Servicios/FrontOffice/FachadaUsuariosLoginFrontOffice.asmx</value>
            </setting>
        </PuiPuiCapaDeInterfazFrontOffice.Properties.Settings>
    </applicationSettings>
</configuration>
