/*

CSS Credit: http://www.templatemo.com/

*/

html {

	background: #020303;

}

body {

	margin: 0;

	padding:0;

	font-family: Arial, Helvetica, sans-serif;

	font-size: 12px;

	line-height: 1.5em;

	color: #fff;

	background: url(../Imagenes/templatemo_page_bg.jpg) repeat-x  center top;

	width: 100%;

	display: table;

}

a:link, a:visited { color: #daea71; text-decoration: none; font-weight: bold; } 

a:active, a:hover { color: #BBBB00; text-decoration: none; font-weight: bold; }


h1 {

	font-family: Arial, Helvetica, sans-serif;

	font-size: 18px;

	font-weight: bold;

	color: #fff;

	background-position: left;

	padding: 0px;

}

h2 {

	font-family: Arial, Helvetica, sans-serif;

	font-size: 14px;

	font-weight: bold;

	color: #fff;

	margin-top: 0px;

}

#templatemo_container {

	width: 950px;

	margin: auto;

}

#templatemo_header_section {

	float: left;

	width: 950px;

	height: 104px;

	margin-top: 60px;

	background: url(../Imagenes/templatemo_header.jpg) no-repeat;

}

#templatemo_title_section {

	float: left;

	width: 331px;

	height: 40px;

	font-size: 22px;

	font-weight: bold;

	margin: 23px 10px 10px 20px;

	padding: 28px 0px 0px 30px;

	background: url(../Imagenes/templatemo_title_bg.jpg) no-repeat;

}

.Menu{
	float: right;
	margin: 5px 20px 0px 50px;
}

.Menu ul
{  
    list-style: none;
	padding: 0px;
	margin: 0px;

}

.Menu ul ul
{  
    background: url(../Imagenes/templatemo_top_menu_level2.jpg);    
    
}

.Menu ul li
{
    display: inline;  
         
}

.Menu ul ul li 
{
    float: left;	
	font-weight: bold;
	text-decoration: none;
	text-align: center;	
    width: 100px;        
}


.Menu ul ul ul li 
{
    width: 150px;            
}

.Menu ul ul ul li a
{
    width: 150px;            
}

.Menu ul li a
{
    float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	color: #fff;
	width: 80px;
	height: 43px;
	padding-top: 20px;
    
    
}

.Menu ul li a:hover
{  
	color: #fff;
	background: url(../Imagenes/templatemo_top_current.jpg) no-repeat;
}




#templatemo_content_section {
	float: left;
	width: 950px;
	background: url(../Imagenes/templatemo_content_bg.jpg) repeat-x;
	height: 1000px;
	overflow: auto;
}

#templatemo_leftmenu_section {

	float: left;

	width: 280px;

	margin-top: 45px;

	padding-left: 30px;

}

#templatemo_leftmenu_top {

	float: left;

	width: 240px;

	height: 37px;

	background: url(../Imagenes/templatemo_leftmenu_top.jpg) no-repeat;

}

#templatemo_leftmenu_mid {

	float: left;

	width: 200px;

	min-height: 500px;

	padding: 0px 20px 0px 20px;

	text-align: justify;

	background: url(../Imagenes/templatemo_leftmenu_mid.jpg) repeat-y;

}

#templatemo_leftmenu_mid img {

	float: left;

	padding-right: 5px;

}

#templatemo_leftmenu_mid span {

	font-weight: bold;

	color: #daea71;

}

#templatemo_leftmenu_bot {

	float: left;

	width: 240px;

	height: 37px;

	background: url(../Imagenes/templatemo_leftmenu_bot.jpg) no-repeat;

}

#templatemo_rightcontent_section {

	float: left;

	width: 504px;

	margin-top: 45px;

	text-align: justify;

}

#templatemo_rightcontent_section img{

	float: left;

	padding-right: 10px;

}

#templatemo_rightcontent_section a:link, #templatemo_rightcontent_section a:visited { color: #FFFF66; text-decoration: none; font-weight: bold; } 

#templatemo_rightcontent_section a:active, #templatemo_rightcontent_section a:hover { color: #CCFF00; text-decoration: none; font-weight: bold; }

#templatemo_content_left {

	float: left;

	width: 18px;

	height: 1000px;

	background: url(../Imagenes/templatemo_left_corner.jpg) no-repeat;

}

#templatemo_content_mid {

	float: left;

	width: 814px;

	height: 1000px;

}

#templatemo_content_right {

	float: left;

	width: 68px;

	height: 1000px;

	background: url(../Imagenes/templatemo_right_corner.jpg) no-repeat;

}

#templatemo_footer_section {

	float: left;

	width: 950px;

	height: 159px;

	color: #adad7b;

	background: url(../Imagenes/templatemo_footer.jpg) no-repeat;

}

#templatemo_footer_left {

	float: left;

	width: 440px;

	padding: 40px 0px 0px 0px;

	text-align: center;

}

#templatemo_footer_right {

	float: left;

	width: 400px;

	padding: 50px 0px 0px 50px;

}

.line {

	border-bottom: dashed 1px #fff;

	width: 100%;

}


.migas
{    
    color:#fff;
    padding-top:5px;
    font-family: Verdana;font-size: smaller; text-decoration:none
}



input.botonAceptar
{
        
    -moz-box-shadow:inset 0px -3px 7px 0px #29bbff;
    -webkit-box-shadow:inset 0px -3px 7px 0px #29bbff;
    box-shadow:inset 0px -3px 7px 0px #29bbff;
        
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2dabf9), color-stop(1, #0688fa));
    background:-moz-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
    background:-webkit-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
    background:-o-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
    background:-ms-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
    background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2dabf9', endColorstr='#0688fa',GradientType=0);
        
    background-color:#2dabf9;
        
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
        
    border:1px solid #0b0e07;
        
    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:12px;
    font-weight:normal;
    padding:9px 23px;
    text-decoration:none;
        
    text-shadow:0px 1px 0px #263666;
        
}
input.botonAceptar:hover 
{
        
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0688fa), color-stop(1, #2dabf9));
    background:-moz-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
    background:-webkit-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
    background:-o-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
    background:-ms-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
    background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0688fa', endColorstr='#2dabf9',GradientType=0);
        
    background-color:#0688fa;
}
input.botonAceptar:active 
{
    position:relative;
    top:1px;
}


input.botonCancelar 
{
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color:transparent;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}
.botonCancelar:active 
{
	position:relative;
	top:1px;
}

.campoDeTextoCorto 
{
    
}

.campoDeTextoMediano 
{
}

.campoDeTextoLargo 
{
}

.gridView 
{
}

.calendario 
{
}

.listaDesplegableGrande 
{
}

.tituloPagina 
{
    font-family:Arial;
    font-size:large;
    text-align:center;
}

.etiquetaCampo 
{
}

.etiquetaError 
{
}

.alerta 
{
}

.botonCerrarSesion 
{
}

select.listaDesplegablePequeno
{
    font-family:Arial;
    position:relative;
    z-index:10;
    width:40px !important;
    height:26px !important;
    line-height:26px;
}

/* dynamically created SPAN, placed below the SELECT */
span.listaDesplegablePequeno 
{
    font-family:Arial;
    position: absolute;
    bottom: 0;
    float: left;
    left: 0;
    width: 40px;
    height: 20px;
    line-height: 26px;
    text-indent: 10px;
    cursor: default;
    z-index: 1;
}

select.listaDesplegableMediano
{
    font-family:Arial;
    position:relative;
    z-index:10;
    width:200px !important;
    height:26px !important;
    line-height:26px;
}

/* dynamically created SPAN, placed below the SELECT */
span.listaDesplegableMediano 
{
    font-family:Arial;
    position: absolute;
    bottom: 0;
    float: left;
    left: 0;
    width: 200px;
    height: 20px;
    line-height: 26px;
    text-indent: 10px;
    cursor: default;
    z-index: 1;
}

select.listaDesplegableGrande
{
    font-family:Arial;
    position:relative;
    z-index:10;
    width:300px !important;
    height:26px !important;
    line-height:26px;
}

/* dynamically created SPAN, placed below the SELECT */
span.listaDesplegableGrande 
{
    font-family:Arial;
    position: absolute;
    bottom: 0;
    float: left;
    left: 0;
    width: 300px;
    height: 20px;
    line-height: 26px;
    text-indent: 10px;
    cursor: default;
    z-index: 1;
}
	