<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="PuiPuiCapaDeInterfazFrontOfficeSesion.master.cs" Inherits="PuiPuiCapaDeInterfazFrontOffice.MasterPages.PuiPuiCapaDeInterfazFrontOfficeSesion" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head id="Head1" runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <link href="../Estilos/Site.css" rel="stylesheet" type="text/css" />   
    <asp:ContentPlaceHolder ID="HeadContent" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
      <form id="Form1" runat="server">
        <div class="page">
            <div class="header">
                <div id="templatemo_container">
                    <div class="migas" id="migas">
                        <asp:SiteMapPath ID="SiteMapPath1" runat="server">
                            <RootNodeTemplate>
                                <asp:HyperLink ID="HyperLink1" runat="server"
                                    Text='<%# Eval("title") %>' NavigateUrl='<%# Eval("url") %>' CssClass="migasLink" />
                            </RootNodeTemplate>

                            <NodeTemplate>
                                <asp:HyperLink ID="HyperLink2" runat="server"
                                    Text='<%# Eval("title") %>' NavigateUrl='<%# Eval("url") %>' CssClass="migasLink" />
                            </NodeTemplate>
                        </asp:SiteMapPath>
                    </div>
                    <table width="950" border="0" cellpadding="0" cellspacing="0" >
                    <tr>
                        <td align="center" style="width:800px;height:10px" />
                        <td align="center" style="width:150px;height:30px" >
                        <asp:Button ID="botonCerrarSesion" runat="server" Text="Cerrar Sesión" CssClass="botonCerrarSesion" />
                            </td>
                    </tr>
                    </table>
                    
                    <div id="templatemo_header_section">
                        <div id="templatemo_title_section">
                                Pui-Pui FrontOffice&nbsp;
                      </div>
                        <div class="templatemo_topmenu">
                <asp:Menu ID="NavigationMenu" runat="server" CssClass="Menu" EnableViewState="false"
                    IncludeStyleBlock="false" Orientation="Horizontal" RenderingMode="List">
                    <Items>
                        <asp:MenuItem NavigateUrl="../Vista/VHome/Home.aspx" Text="Inicio" />
                        
                        <asp:MenuItem NavigateUrl="#" Text="Clases">
                            <asp:MenuItem NavigateUrl="../Vista/VReservarClase/ReservarClase.aspx" Text="Reservar Clase"/>                                
                            <asp:MenuItem NavigateUrl="../Vista/VReservarClase/Agregar.aspx" Text="Evaluar Clase"/>
                        </asp:MenuItem>

                        <asp:MenuItem NavigateUrl="#" Text="Instructor">
                            <asp:MenuItem Text="Evaluar Instructor">
                                <asp:MenuItem NavigateUrl="../Vista/VEvaluarInstructor/Agregar.aspx" Text="Agregar" />
                                <asp:MenuItem NavigateUrl="../Vista/VEvaluarInstructor/Consultar.aspx" Text="Consultar" />                                                                
                            </asp:MenuItem>
                            <asp:MenuItem Text="Reservar Instructor">
                                <asp:MenuItem NavigateUrl="../Vista/VReservarInstructor/Agregar.aspx" Text="Agregar" />                                
                            </asp:MenuItem>
                        </asp:MenuItem>

                        <asp:MenuItem NavigateUrl="#" Text="Rutinas">
                            <asp:MenuItem Text="Rutinas">
                                <asp:MenuItem NavigateUrl="../Vista/VGestionRutinas/Agregar.aspx" Text="Agregar" />
                                <asp:MenuItem NavigateUrl="../Vista/VGestionRutinas/Consultar.aspx" Text="Consultar" />
                                <asp:MenuItem NavigateUrl="../Vista/VGestionRutinas/Modificar.aspx" Text="Modificar" />
                                <asp:MenuItem NavigateUrl="../Vista/VGestionRutinas/Eliminar.aspx" Text="Eliminar" />
                            </asp:MenuItem>
                        </asp:MenuItem>
                            <asp:MenuItem NavigateUrl="#" Text="Cliente">
                            <asp:MenuItem Text="Cliente">
                                
                                <asp:MenuItem NavigateUrl="../Vista/VCliente/Consultar.aspx" Text="Consultar" />
                                <asp:MenuItem NavigateUrl="../Vista/VCliente/Modificar.aspx" Text="Modificar" />
                                </asp:MenuItem>
                            </asp:MenuItem>
                            
                        
                        
                        <asp:MenuItem NavigateUrl="../Vista/VHome/About.aspx" Text="Creditos" />
                    </Items>
                </asp:Menu>
              </div>
                    </div>
                    <div id="templatemo_content_section">
                        <div id="templatemo_content_left"></div>
                        <div id="templatemo_content_mid">
                            <div class="main">
                                <asp:ContentPlaceHolder ID="MainContent" runat="server" />
                            </div>
                            <div class="clear">
                            </div>
                            <div class="footer">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>