<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PuiPuiCapaDeInterfazBackOffice.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>

  <applicationSettings>
        <PuiPuiCapaDeInterfazBackOffice.Properties.Settings>
              <setting name="PuiPuiCapaDeInterfazBackOffice_LogicaClases_FachadaClases"
                    serializeAs="String">
                    <value>http://localhost:24057/Servicios/BackOffice/FachadaClasesBackOffice.asmx</value>
              </setting>
              <setting name="PuiPuiCapaDeInterfazBackOffice_LogicaEjercicios_FachadaEjerciciosBackOffice"
                    serializeAs="String">
                    <value>http://localhost:24057/Servicios/BackOffice/FachadaEjerciciosBackOffice.asmx</value>
              </setting>
              <setting name="PuiPuiCapaDeInterfazBackOffice_LogicaPersonas_FachadaPersonas"
                    serializeAs="String">
                    <value>http://localhost:24057/Servicios/BackOffice/FachadaInstructoresBackOffice.asmx</value>
              </setting>
              <setting name="PuiPuiCapaDeInterfazBackOffice_LogicaUsuariosLogin_FachadaUsuariosLogin"
                    serializeAs="String">
                    <value>http://localhost:24057/Servicios/BackOffice/FachadaUsuariosLoginBackOffice.asmx</value>
              </setting>
              <setting name="PuiPuiCapaDeInterfazBackOffice_localhost_FachadaMusculos"
                    serializeAs="String">
                    <value>http://localhost:24057/Servicios/BackOffice/FachadaMusculos.asmx</value>
              </setting>
              <setting name="PuiPuiCapaDeInterfazBackOffice_LogicaMusculo_FachadaMusculos"
                    serializeAs="String">
                    <value>http://localhost:24057/Servicios/BackOffice/FachadaMusculos.asmx</value>
              </setting>
        </PuiPuiCapaDeInterfazBackOffice.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="FachadaSalonBackOfficeSoap" />
                <binding name="FachadaClasesSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="FachadaSalonBackOfficeSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="FachadaClasesSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:24057/Servicios/BackOffice/FachadaSalonBackOffice.asmx"
                binding="basicHttpBinding" bindingConfiguration="FachadaSalonBackOfficeSoap"
                contract="LogicaSalon.FachadaSalonBackOfficeSoap" name="FachadaSalonBackOfficeSoap" />
            <endpoint address="http://localhost:24057/Servicios/BackOffice/FachadaClasesBackOffice.asmx"
                binding="basicHttpBinding" bindingConfiguration="FachadaClasesSoap"
                contract="LogicaClase.FachadaClasesSoap" name="FachadaClasesSoap" />
            
        </client>
    </system.serviceModel>
</configuration>
