<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PuiPuiCapaDeInterfazBackOffice.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

    <applicationSettings>
        <PuiPuiCapaDeInterfazBackOffice.Properties.Settings>
            <setting name="PuiPuiCapaDeInterfazBackOffice_LogicaClases_FachadaClases"
                serializeAs="String">
                <value>http://localhost:24057/Servicios/BackOffice/FachadaClasesBackOffice.asmx</value>
            </setting>
            <setting name="PuiPuiCapaDeInterfazBackOffice_LogicaEjercicios_FachadaEjerciciosBackOffice"
                serializeAs="String">
                <value>http://localhost:24057/Servicios/BackOffice/FachadaEjerciciosBackOffice.asmx</value>
            </setting>
            <setting name="PuiPuiCapaDeInterfazBackOffice_LogicaPersonas_FachadaPersonas"
                serializeAs="String">
                <value>http://localhost:24057/Servicios/BackOffice/FachadaInstructoresBackOffice.asmx</value>
            </setting>
            <setting name="PuiPuiCapaDeInterfazBackOffice_LogicaUsuariosLogin_FachadaUsuariosLogin"
                serializeAs="String">
                <value>http://localhost:24057/Servicios/BackOffice/FachadaUsuariosLoginBackOffice.asmx</value>
            </setting>
        </PuiPuiCapaDeInterfazBackOffice.Properties.Settings>
    </applicationSettings>
</configuration>
