<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="PuiPuiCapaDeInterfazBackOffice.Master.cs" Inherits="PuiPuiCapaDeInterfazBackOffice.MasterPages.PuiPuiCapaDeInterfazBackOffice" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head id="Head1" runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link href="../Estilos/Site.css" rel="stylesheet" type="text/css" />
    <asp:ContentPlaceHolder ID="HeadContent" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="Form1" runat="server">
        <div class="page">
            <div class="header">
                <div id="templatemo_container">
                    <div class="migas" id="migas">
                        <asp:SiteMapPath ID="SiteMapPath1" runat="server">
                            <RootNodeTemplate>
                                <asp:HyperLink ID="HyperLink1" runat="server"
                                    Text='<%# Eval("title") %>' NavigateUrl='<%# Eval("url") %>' CssClass="migasLink" />
                            </RootNodeTemplate>

                            <NodeTemplate>
                                <asp:HyperLink ID="HyperLink2" runat="server"
                                    Text='<%# Eval("title") %>' NavigateUrl='<%# Eval("url") %>' CssClass="migasLink" />
                            </NodeTemplate>
                        </asp:SiteMapPath>
                    </div>
                        <table width="950" border="0" cellpadding="0" cellspacing="0" >
                    <tr>
                        <td align="center" style="width:800px;height:10px" />
                        <td align="center" style="width:150px;height:30px" >
                        <asp:Button ID="botonCerrarSesion" runat="server" Text="Cerrar Sesión" CssClass="botonCerrarSesion" />
                            </td>
                    </tr>
                    </table>
                    <div id="templatemo_header_section">
                        <div id="templatemo_title_section">
                            Pui-Pui BackOffice
                        </div>
                        <div class="templatemo_topmenu">
                            <asp:Menu ID="NavigationMenu" runat="server" CssClass="Menu" EnableViewState="false"
                                IncludeStyleBlock="false" Orientation="Horizontal">
                                <Items>

                                    <asp:MenuItem NavigateUrl="../Vista/Home/Home.aspx" Text="Inicio" />
                                    <asp:MenuItem NavigateUrl="../Vista/Modulo1/Modulo1.aspx" Text="Ejercicio">
                                        <asp:MenuItem Text="Musculo">
                                            <asp:MenuItem NavigateUrl="../Vistas/VEjercicio/VistaAgregarMusculo.aspx" Text="Agregar" />
                                            <%--<asp:MenuItem NavigateUrl="../Vistas/VEjercicio/VistaDesactivarMusculo.aspx" Text="Desactivar" />--%>
                                        </asp:MenuItem>
                                        <%--<asp:MenuItem Text="Ejercicio">--%>
                                           <%-- <asp:MenuItem NavigateUrl="../Vistas/VEjericio/VistaAgregarEjercicio.aspx" Text="Agregar" />
                                            <asp:MenuItem NavigateUrl="../Vistas/VEjericio/VistaConsultarEjercicio.aspx" Text="Consultar" />
                                            <asp:MenuItem NavigateUrl="../Vistas/VEjericio/VistaModificarEjercicio.aspx" Text="Modificar" />
                                            <asp:MenuItem NavigateUrl="../Vistas/VEjericio/VistaDesactivarEjercicio.aspx" Text="Desactivar" />--%>
                                        <%--</asp:MenuItem>--%>
                                        <%--<asp:MenuItem Text="Instructor">--%>
                                           <%-- <asp:MenuItem NavigateUrl="../Vistas/VInstructor/AgregarInstructor.aspx" Text="Agregar" />
                                            <asp:MenuItem NavigateUrl="../Vistas/VInstructor/ConsultarInstructor.aspx" Text="Consultar" />
                                            <asp:MenuItem NavigateUrl="../Vistas/VInstructor/ModificarInstructor.aspx" Text="Modificar" />
                                            <asp:MenuItem NavigateUrl="../Vistas/VInstructor/EliminarInstructor.aspx" Text="Eliminar" />--%>
                                        <%--</asp:MenuItem>--%>
                                    </asp:MenuItem>
                                    <asp:MenuItem NavigateUrl="../Vista/Modulo2/Modulo2.aspx" Text="Clases">
                                        <%--<asp:MenuItem Text="Clases">--%>
                                            <%--<asp:MenuItem NavigateUrl="../Vistas/VClase/AgregarClase.aspx" Text="Agregar" />
                                            <asp:MenuItem NavigateUrl="../Vistas/VClase/ConsultarClases.aspx" Text="Consultar Todas" />
                                            <asp:MenuItem NavigateUrl="../Vistas/VClase/DetalleConsultaClase.aspx" Text="Consultar" />
                                            <asp:MenuItem NavigateUrl="../Vistas/VClase/ModificarClase.aspx" Text="Modificar" />--%>
                                        <%--</asp:MenuItem>--%>
                                        <asp:MenuItem Text="Salones">
                                            <asp:MenuItem NavigateUrl="../Vistas/VSalon/AgregarSalon.aspx" Text="Agregar" />
                                            <%--<asp:MenuItem NavigateUrl="../Vistas/VSalon/ConsultarSalon.aspx" Text="Consultar Todos" />                                            
                                            <asp:MenuItem NavigateUrl="../Vistas/VSalon/DetalleConsultaSalon.aspx" Text="Consultar" />  --%>                                          
                                        </asp:MenuItem>
                                        <%--<asp:MenuItem Text="Designacion de aulas">
                                            <%--<asp:MenuItem NavigateUrl="../Vista/Modulo2/Gestion%20Clase%20Salon%20Instructor/AgregarClaseSalon.aspx" Text="Agregar" />
                                            <asp:MenuItem NavigateUrl="../Vista/Modulo2/Gestion%20Clase%20Salon%20Instructor/ConsultarClasesSalon.aspx" Text="Consultar" />--%>
                                      <%--  </asp:MenuItem>--%>
                                    </asp:MenuItem>
                                       <%--<asp:MenuItem NavigateUrl="../Vista/Modulo6/Modulo6.aspx" Text="Cliente">
                                        <asp:MenuItem Text="Cliente">
                                            <asp:MenuItem NavigateUrl="../Vista/Modulo6/Cliente/Agregar.aspx" Text="Agregar" />
                                            <asp:MenuItem NavigateUrl="../Vista/Modulo6/Cliente/Consultar.aspx" Text="Consultar" />
                                            <asp:MenuItem NavigateUrl="../Vista/Modulo6/Cliente/Modificar.aspx" Text="Modificar" />
                                            <asp:MenuItem NavigateUrl="../Vista/Modulo6/Cliente/Act-Ina.aspx" Text="Activar/ Inactivar" />
                                        </asp:MenuItem>
                                       </asp:MenuItem>--%>

                                    <%--<asp:MenuItem NavigateUrl="../Vista/Home/About.aspx" Text="Creditos" />--%>
                                </Items>
                            </asp:Menu>
                        </div>
                    </div>
                    <div id="templatemo_content_section">
                        <div id="templatemo_content_left"></div>
                        <div id="templatemo_content_mid">
                            <div class="main">
                                <asp:ContentPlaceHolder ID="MainContent" runat="server" />
                            </div>
                            <div class="clear">
                            </div>
                            <div class="footer">
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>